<p>
  <strong><%= t("users.email") %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t("users.zipcode") %></strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= t("users.address") %></strong>
  <%= @user.address %>
</p>


<p>
  <strong><%= t("users.bio") %></strong>
  <%= @user.bio %>
</p>

<%= render "follow_form" %>

<p>
  <%= link_to "このユーザの投稿を見る", user_posts_path %>
</p>

<br>

<%= link_to t("views.edit"), edit_user_registration_path %> |
<%= link_to t("views.back"), books_path %>
