<section>
  <h1><%= @book.title %></h1>

  <p>
    <strong><%= t("books.memo") %>:</strong>
    <%= @book.memo %>
  </p>

  <p>
    <strong><%= t("books.author") %>:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong><%= t("books.picture") %>:</strong>
    <%= image_tag(@book.picture_url) if @book.picture.present? %>
  </p>
</section>

<%= render 'comments/comments', commentable: @book, comments: @comments %>
<%= render 'comments/form', commentable: @book, comment: @comment %>

<p>
  <strong><%= t("books.user_id") %>:</strong>
  <%= link_to @user.name, user_path(@user) %>
</p>

<% if current_user == @user %>
  <%= link_to t("views.edit"), edit_book_path(@book) %> |
<% end %>

<%= link_to t("views.back"), books_path %>
