<section>
  <h1>日報</h1>

  <p>
    <strong>Title:</strong>
    <%= @report.title %>
  </p>

  <p>
    <strong>Reported on:</strong>
    <%= @report.reported_on %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @report.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @report.description %>
  </p>
</section>

<%= render 'comments/comments', comments: @comments %>
<%= render 'comments/form', commentable: @report, comment: @comment %>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
